# Add any directories, files, or patterns you don't want to be tracked by version control
.idea

# ignore vs code project config files
.github
.templates
.vscode
.vs

# ignore logs
logs
*.log

# ignore 3rd party lib
node_modules

# Ignore built files
dist
build

# ignore test converage
coverage

# git
.git

.DS_Store 