# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vs

# misc
npm-debug.log

# ignore logs
/logs
*.log

# tests
/coverage
/.nyc_output

# dist
/dist
/build

#keys
keys/*
!keys/*.md
!keys/*.example

#temp
temp
.DS_Store

*.save
*.save.*

disk/*

# Environment varibles
*.env
*.env.test

# ignore key
*.pem